::-moz-selection { background: rgba(0, 0, 0, 0.1); }
::selection { background: rgba(0, 0, 0, 0.1); }

a {
  color: #5bc0de;
  transition: color 200ms ease;
}

.content a:hover,
.content a:focus {
  text-decoration: none;
  color: #3ba0be;
}

.sidebar {
  background-color: #333333;
  color: #cccccc;
  padding: 0;
}

.sidebar-about hr {
  border-top: 1px solid #cccccc;
  border-bottom: 0;
  margin: 0;
}

.sidebar-about img {
  margin-left: auto;
  margin-right: auto;
  height: 34px;
}

.sidebar-about .title {
  text-align: center;
  font-size: 28px;
  padding-top: 2px;
  padding-bottom: 30px;
}

.sidebar-about .lead {
  font-size: 16px;
  padding-bottom: 30px;
  margin-top: 1em;
}

.sidebar .copyright {
  font-size: 14px;
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  text-align: center;
  color: #888888;
}

.sidebar .container {
  padding: 0;
  left: auto;
  right: auto;
}

.sidebar .container > *,
.sidebar-nav > * {
  padding: 0 2rem;
}

.sidebar .container .sidebar-nav {
  padding: 0;
}

.sidebar-nav a {
  color: #5bc0de;
  transition: background-color 200ms ease;
}

.sidebar-nav a:hover,
.sidebar-nav a:focus {
  background-color: #5bc0de;
  color: white;
  text-decoration: none;
}

@media (max-width: 48em) {
  .sidebar .copyright {
    display: none;
  }

  .sidebar-nav-item {
    padding-left: 14px;
    padding-right: 14px;
    display: inline-block;
  }

  .sidebar .container .sidebar-nav {
    padding-bottom: 10px;
  }

  .sidebar-about img {
    display: none;
  }

  .sidebar-about .lead {
    display: none;
    padding-bottom: 0;
  }

  .sidebar-about hr {
    display: none;
  }

  .sidebar-about .title {
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .sidebar-about .title::before {
    content: '';
    display: inline-block;
    background-image: url('/public/img/icon.png');
    background-size: cover;
    width: 24px;
    height: 24px;
    margin-right: 0.5em;
    vertical-align: middle;
    margin-top: -0.15em;
  }

  .content {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}
